services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pet-management-web
    command: npm run dev
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"