services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pet-management-web
    command: npm run dev
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      NODE_ENV: development
      NEXT_PUBLIC_API_BASE_URL: http://localhost:8080/api
    ports:
      - "3000:3000"