name: CI

on:
  pull_request:
    branches:
      - develop
    paths-ignore:
      - '**.md'
      - 'docker-compose.yml'

defaults:
  run:
    shell: bash

jobs:
  Lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Run ESLint Reviewdog
        uses: reviewdog/action-eslint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          eslint_flags: "src/**/*.{ts,tsx}"
          workdir: ./

  Build:
    runs-on: ubuntu-latest
    needs: Lint
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: "npm"
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npm run build

  # 単体テスト
  UnitTest:
    runs-on: ubuntu-latest
    needs: Build
    if: false 
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: "npm"
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npm test

  # Todo: E2Eテスト
  # E2ETest:
  #   runs-on: ubuntu-latest
  #   needs: Build
  #   steps: ...